/* CSS Variables */
/* :root {
  --hover: #f99245;
  --primary: rgb(239, 239, 239);
  --secondary: #eaeaea;
} */

html,
body {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
body {
  font-family: "Muli", sans-serif;
}

nav {
  font-family: "Muli", sans-serif;
  z-index: 10000;
  position: fixed;
}

.navbar-nav .nav-link {
  letter-spacing: 0.1rem;
  color: black !important;
}

.logo {
  font-family: "PT Mono", monospace;
}

.logo span {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 800;
}
nav a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid black;
}
@media screen and (max-width: 767px) {
  nav {
    background-color: white !important;
  }
}
/* Hero */
.jumbotron {
  background: url("./imgs/hero.jpg") no-repeat center center;
  background-size: cover;
  max-height: 800px;
  min-height: 600px;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
}

.jumbotron img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.skill-container i {
  font-size: 6rem;
}

.skill-container i:hover {
  animation-name: spin;
  animation-duration: 1s;
}

/* spin skills image */
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Education */
/* @media screen and (max-width: 575px) {
  .school-name {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 360px) {
  .school-name {
    font-size: 0.7rem;
  }
} */

/* #education hr {
  width: 100%;
}
.school div {
  display: block;
}

.school span:nth-last-of-type() {
  margin-bottom: 0;
} */

/* .school-info {
  font-family: "Raleway", sans-serif !important;
  font-size: 1.4rem;
  font-weight: bold;
} */

/* .school-info span:nth-of-type(1) {
  margin-bottom: 0;
  text-align: center;
}

.degree-list {
  margin-top: 50px;
}

.degree-list h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.degree {
  margin-bottom: 20px;
}
.degree p {
  margin-bottom: 0;
}

.degree p {
  font-size: 1rem;
}

.degree p:nth-of-type(1) {
  font-size: 1.5rem;
} */

/* @media screen and (max-width: 480px) {
  .school-info {
    font-size: 1rem;
  }
  .degree p:nth-of-type(1) {
    font-size: 1rem;
  }
  .degree p {
    font-size: 0.7rem;
  }
} */

/* .education-info {
  margin-top: 50px;
  font-family: "Raleway", sans-serif !important;
} */
/* .education-info span {
  display: block;
} */

/* .classes {
  margin-top: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif !important;
} */
/* .classes h2 {
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
} */
/* .classes ul {
  margin-top: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
} */

/* Contact */
#contact .row {
  margin-top: 100px;
  margin-bottom: 100px;
}

.info-box {
  /* background-color: var(--secondary); */
  /* font-family: "Raleway", sans-serif !important; */
  /* width: 350px;
  height: auto; */
  overflow: auto;
  border-radius: 2rem;
}

.info-box p {
  margin-bottom: 0.2rem;
}

.info-box h2 {
  margin: 1rem auto;
}
.info-box span {
  width: auto;
  overflow: auto;
}

.info-box a {
  color: inherit;
  font-size: 3rem;
  text-decoration: none;
}

.info-box a:nth-of-type(2) {
  color: rgb(0, 119, 181);
}

.info-box a:nth-of-type(1) {
  margin-right: 1rem;
}

@media screen and (max-width: 767px) {
  .info-box p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 443px) {
  .info-box p {
    font-size: 0.25rem;
  }
}

/* Closing */
#closing {
  margin-top: 15vh;
}

/* Footer */
footer {
  /* font-family: "Raleway", sans-serif !important; */
  text-align: center;
}

footer span {
  font-size: 0.8rem;
}
