html,
body {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Muli", sans-serif;
}

main {
  margin-top: 100px;
}
nav {
  z-index: 10000;
  position: fixed;
  margin-bottom: 100px;
}

.navbar-nav .nav-link {
  letter-spacing: 0.1rem;
  color: black !important;
}

.logo {
  font-family: "PT Mono", monospace;
}

.logo span {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 800;
}
nav a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid black;
}
@media screen and (max-width: 767px) {
  nav {
    background-color: white !important;
  }
}
/* Hero */
.jumbotron {
  background: url("./imgs/hero.jpg") no-repeat center center;
  background-size: cover;
  max-height: 800px;
  min-height: 600px;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
}

.jumbotron img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.skill-container i {
  font-size: 6rem;
}

.skill-container i:hover {
  animation-name: spin;
  animation-duration: 1s;
}

/* spin skills image */
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Projects */

/* technology used for projects */
.proj-tech {
  font-size: 0.8rem;
}

.proj-img {
  overflow: hidden;
  transition: transform 0.5s ease;
}

.proj-img img {
  min-height: 155px;
  max-height: 200px;
}
.proj-img img:hover {
  transform: scale(1.1);
}

/* Contact */

.info-box a {
  color: inherit;
  font-size: 3rem;
  text-decoration: none;
}

.info-box a:nth-of-type(2) {
  color: rgb(0, 119, 181);
}

.info-box a:nth-of-type(1) {
  margin-right: 1rem;
}

@media screen and (max-width: 767px) {
  .info-box p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 443px) {
  .info-box p {
    font-size: 0.25rem;
  }
}

/* Footer */
/* footer {
  position: absolute;
  bottom: 0;
} */
